#logo {
  display: block;
  margin: auto;
  width: 60%;
  padding-top: 10%;
}

.links {
  text-align: center;
  font-size: 32px;
}

p, body {
  margin: 0;
}

.frame {
  margin: 7.5%;
}

@media only screen and (min-width: 1250px) {
  .links a {
    padding: 1.5%;
  }
}

@media only screen and (max-width: 1250px) {
  .links {
    display: flex;
    flex-direction: column;
    font-size: 24px;
  }

  .frame, .mainframe {
    margin-top: 30%;
  }
}
